<div class="auth-container">
  <div class="row auth-main" style="background-image: url(assets/images/pages/404.jpg);background-size: cover; background-image: center;">
    
    
      
        <div class="auth-wrapper" style="margin: auto;">
          <form>
            <span class="error-header p-b-45">
              404
            </span>
            <span class="error-subheader p-b-5">
              La page que vous recherchez<br> n'est pas disponible !
            </span>
            
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary"  routerLink="/authentication/signin" class="auth-form-btn" type="submit">
                Aller à la page d'accueil
              </button>
            </div>
            
          </form>
        </div>
      
    
  </div>
</div>
