<ion-content>
  <ion-toolbar class="tb"> 
    <ion-title> Parking </ion-title>
  </ion-toolbar>

  <div id="header">
    <img src="assets/icon/password.gif">
  </div>
  <form [formGroup]="formGroup" id="form">
    <ion-item lines="full">
      <ion-input formControlName="email"  type="text" name="email" placeholder="Email"></ion-input> 
      <ion-icon class="show-option" name="mail-outline"></ion-icon>
    </ion-item>
    
    
        <ion-button type="submit" color="primary" expand="block" (click)="forgotPassword(formGroup.value)">Envoyer</ion-button>
     
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        
        <ion-tab-button [routerLink]="['/login']">
          <ion-icon name="log-in-outline"></ion-icon>
          <ion-label>Se connecter</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
