/* Structure */
table {
    width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
td{
    width: 40%;
}
th {
    background-color: rgba(81, 83, 83, 0.067);
    width: 40%;
}
.alerte{
    width: 50px;
    margin-right: 10px;
}