<ion-content>
  <ion-toolbar class="tb"> 
  </ion-toolbar>

  <div id="header">
    <img src="assets/icon/reset.gif">
  </div>
  
  <form [formGroup]="formGroup" (ngSubmit)="resetPassword(formGroup.value)" id="formReset">
    <ion-item lines="full">
      <app-show-hide-password>
        <ion-input formControlName="oldPassword" type="password" placeholder="Ancien mot de passe"></ion-input>
      </app-show-hide-password>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.oldPassword">
        <div class="error-message" *ngIf="formGroup.get('oldPassword').hasError(validation.type) 
        && (formGroup.get('oldPassword').dirty || formGroup.get('oldPassword').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item lines="full">
      <app-show-hide-password>
        <ion-input formControlName="password" type="password" placeholder="Nouveau mot de passe"></ion-input>
      </app-show-hide-password>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="formGroup.get('password').hasError(validation.type) 
        && (formGroup.get('password').dirty || formGroup.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item lines="full">
      <app-show-hide-password>
        <ion-input formControlName="confirmPassword" type="password" placeholder="Confirmer mot de passe"></ion-input>
      </app-show-hide-password>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.confirmPassword">
        <div class="error-message" *ngIf="formGroup.get('confirmPassword').hasError(validation.type) 
        && (formGroup.get('confirmPassword').dirty || formGroup.get('confirmPassword').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div><ion-button type="submit" color="tertiary" expand="block" [disabled]="!formGroup.valid">Modifier</ion-button>
   
  </form>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
      
        <ion-tab-button [routerLink]="['/home']" >
          <ion-icon name="arrow-back-outline"></ion-icon>
          <ion-label>Retour</ion-label>
        </ion-tab-button>
      
        
        
        <ion-tab-button [routerLink]="['/login']">
          <ion-icon name="person-add-outline"></ion-icon>
          <ion-label>Se déconnecter</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
